TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
EVENT_SCANNER_DB_PATH=event_scanner.db
TRUSTED_SOURCE_HOSTS=twitter.com,x.com,medium.com,mirror.xyz
X_WATCHED_HANDLES=
FXTWITTER_BASE_URL=https://api.fxtwitter.com/2
